.red {
  color: red;
}

.green {
  color: green;
}

.confirm-marker {
  font-size: 1.5em;
  width: 1em;
  height: 0.5em;
  display: inline-block;
}

.confirm-label {
  cursor: pointer;
}

.relocation-dialog {
  position: absolute;
  bottom: 0;
  z-index: 1000;
  min-height: 7em;
  padding: 1em;
  background-color: #fff;
  cursor: initial;
}

.add-comment {
  margin-top: 1em;
  margin-bottom: 1em;
  cursor: pointer;
}

.comment-text {
  display: none;
}

.cancel-button {
  border: 2px solid #0066cc;
  background: #fff;
  padding: 0.5em 1.5em 0.5em 1.5em;
  cursor: pointer;
}

.save-button {
  border: 2px solid #0066cc;
  background: #0066cc;
  color: #fff;
  padding: 0.5em 1.5em 0.5em 1.5em;
  cursor: pointer;
}

.new-location-form-control {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.new-location-form-control label {
  display: block;
}

.new-location-map {
  height: 400px;
  width: 100%;
}
