<div>{{{markerText}}}</div>
<div class="edit-controls">
  <div class="correct-location confirm-label">
    <div class="green confirm-marker">&#10003;</div>
    Oikea sijainti
  </div>
  <div class="incorrect-location confirm-label">
    <div class="red confirm-marker">&#215;</div>
    Virheellinen sijainti
  </div>
</div>
