<div class="new-location-form">
  <div class="new-location-map"></div>
  <div>
    <h3>Lis&auml;&auml; paikannimi</h3>
    <div>
      Merkitse paikka kartalle ja kerro paikannimest&auml;.
    </div>

    <div class="new-location-form-control">
      <label class="new-location-name-label">Kirjoita uusi paikannimi</label>
      <input type="text" class="new-location-name">
    </div>

    <div class="new-location-form-control">
      <label>Kirjoita paikan laji</label>
      <input type="text" class="new-location-type">
    </div>

    <div class="new-location-form-control">
      <label>Kerro paikannimest&auml;</label>
      <textarea class="new-location-description"></textarea>
    </div>

    <button class="new-location-cancel save-button">Peruuta</button>
    <button class="new-location-save cancel-button">Tallenna</button>
  </div>
</div>
