<div>
  Voit halutessasi raahata merkinn&auml;n oikeaan kohtaan. 
</div>
<div class="add-comment">
  <div class="enable-comment">&#128172; Lis&auml;&auml; kommentti.</div>
  <textarea class="comment-text"></textarea>
</div>
<div>
  <button class="cancel-button">Peru</button>
  <button class="save-button">Tallenna</button>
</div>
